.place {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 92px;
} 

@media (min-width:768px) and (max-width:1023px){
  .place{
    padding-bottom: 90px;
    gap:72px;
  }
}
@media (max-width:767px){
  .place{
    padding-bottom: 66px;
    gap:50px;
  }
}

